apiVersion: v1
kind: Service
metadata:
  name: minecraft-service
  namespace: default
  labels:
    app: minecraft-server
spec:
  type: LoadBalancer
  ports:
  - name: minecraft
    port: 25565
    targetPort: 25565
    protocol: TCP
  selector:
    app: minecraft-server
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 3600
